# Baseball ETL

### Imports

In [1]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from config import pg_pwd
#from configAB import username, password
import psycopg2
import os

from bs4 import BeautifulSoup as bs
import requests

import pandas as pd
import numpy as np

### Initializations

In [2]:
#db initializations
engine = create_engine(f'postgresql://{pg_pwd}/MoneyBall')

Base = automap_base()
Base.prepare(autoload_with=engine)
session = Session(engine)

### ETL Baseball Teams and Cities

In [3]:
# load from csv if stored
if (os.path.isfile('data/Teams.csv')):
    citiesDF = pd.read_csv('data/Cities.csv')
    teamsDF = pd.read_csv('data/Teams.csv')
else:
    # extract
    url = 'https://www.worldatlas.com/articles/mlb-teams-and-their-cities.html'
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    result = soup.find('tbody')
    rows = result.find_all('tr')
    
    # transfer
    City = Base.classes.City 
    Team = Base.classes.Team 
    
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        
        teamcol = cols[1]
        citystatecol = cols[2].split(', ')
        citycol = citystatecol[0]
        statecol = citystatecol[1]

        #load to City table
        city = City(cityname=citycol, statename=statecol)  
        session.add(city)
        session.commit()    
        session.refresh(city)
        
        #load to Team table
        team = Team(teamname=teamcol, cityid=city.cityid)  
        session.add(team)
        session.commit()    

    #reload from db and save to csv
    citiesDF = pd.read_sql_query('select cityid, cityname, statename from "City"', con=engine)
    citiesDF.to_csv('data/Cities.csv', index=False)
    
    teamsDF = pd.read_sql_query('select teamid, teamname, cityid from "Team"', con=engine)
    teamsDF.to_csv('data/Teams.csv', index=False)

#### Team matching dictionary

In [4]:
#put teams in dictionary for lookup
teams_dict = dict(zip(teamsDF.teamname, teamsDF.teamid))

In [5]:
# additions from salary set
teams_dict.update({'Tampa Bay Devil Rays': 4})
teams_dict.update({'Anaheim Angels': 12})
teams_dict.update({'Los Angeles Angels of Anaheim': 12})
teams_dict.update({'Montreal Expos': 20})
teams_dict.update({'Florida Marlins': 17})

### ETL Baseball Payrolls

In [6]:
# load from csv if stored
if (os.path.isfile('data/Payrolls.csv')):
    mlb_payrollDF = pd.read_csv('data/Payrolls.csv')
else:
    # extract
    mlb_payrollDF = pd.DataFrame()

    # combine sets into payroll dataframe
    for yr in range(2000, 2016):
        set_filepath = 'data/payroll_files/mlb_payroll_' + str(yr) + '.csv'
        DF = pd.read_csv(set_filepath)
        DF["year"] = yr
        DF["teamid"] = -1
        DF = DF.drop(columns=['roster'])
        DF.columns=['team_name', 'league', 'division', 'payroll', 'w', 'l', 'wpct', 
                    'rnk', 'lgrk', 'mlbrk', 'last_payroll','top_salary', 'year', 'teamid']
        mlb_payrollDF = pd.concat([mlb_payrollDF, DF])
        
    # transfer, and identify missing team names
    Payroll = Base.classes.Payroll 

    for index, row in mlb_payrollDF.iterrows():
        if teams_dict.get(row.team_name, -1) == -1:
            print(row.team_name)
        else:
            mlb_payrollDF.loc[index, ['teamid']] = teams_dict.get(row.team_name)

            #load to Payroll table
            payroll = Payroll(
                teamid = teams_dict.get(row.team_name),
                payroll = row.payroll.replace(',', ''),
                w = row.w, 
                l = row.l, 
                wpct = row.wpct, 
                rnk = row.rnk, 
                lgrk = row.lgrk, 
                mlbrk = row.mlbrk, 
                last_payroll = row.last_payroll.replace(',', ''),
                top_salary = row.top_salary, 
                year = row.year) 

            session.add(payroll)
            session.commit()    
            
            #update Team table with league, division
            session.query(Team).filter(Team.teamid = teams_dict.get(row.team_name)).
update({Customers.name:"Mr."+Customers.name}, synchronize_session = False)
            payroll = Payroll(
                teamid = teams_dict.get(row.team_name),
                payroll = row.payroll.replace(',', ''),
                w = row.w, 
                l = row.l, 
                wpct = row.wpct, 
                rnk = row.rnk, 
                lgrk = row.lgrk, 
                mlbrk = row.mlbrk, 
                last_payroll = row.last_payroll.replace(',', ''),
                top_salary = row.top_salary, 
                year = row.year) 

            session.add(payroll)
            session.commit()    

    #reload from db and save to csv
    payrollsDF = pd.read_sql_query('select * from "Payroll"', con=engine)
    payrollsDF.to_csv('data/Payrolls.csv', index=False)

The printed teams have had name changes or have moved since 2000.  Add mapping entries for those team to get proper ids.

- Tampa Bay Devil Rays -> Tampa Bay Rays (4)
- Anaheim Angels -> Los Angeles Angels (12)
- Montreal Expos -> Washington Nationals (20)
- Florida Marlins ->  Maimi Marlins (17)
- Los Angeles Angels of Anaheim -> Los Angeles Angels (12)

In [22]:
mlb_payrollDF.head()

,team_name,league,division,payroll,w,l,wpct,rnk,lgrk,mlbrk,last_payroll,top_salary,year,teamid
0,New York Yankees,AL,East,"92,938,260",87,74,0.540,1,5,9,"88,130,709",Bernie Williams (4),2000,28
1,Los Angeles Dodgers,NL,West,"90,725,953",86,76,0.531,2,5,10,"71,135,786",Kevin Brown (1),2000,3
2,Baltimore Orioles,AL,East,"83,141,198",74,88,0.457,4,11,21,"70,818,363",Albert Belle (3),2000,20
3,Atlanta Braves,NL,East,"82,732,500",95,67,0.586,1,2,2,"75,065,000",Greg Maddux (10),2000,8
4,Boston Red Sox,AL,East,"81,210,333",85,77,0.525,2,6,11,"71,720,000",Pedro Martinez (8),2000,2

In [9]:
# ETL Baseball Players

In [10]:
# ETL Baseball Player Salaries

In [11]:
# ETL Baseball Player Batting

In [12]:
# ETL Baseball Player Pitching
#engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/MoneyBall')
#Base = automap_base()
#Base.prepare(autoload_with=engine)
#session = Session(engine)

In [13]:
pitch_teams = {1: ['BAL'], 2: ['BOS'], 3: ['NYA'], 4: ['TBA'], 5: ['TOR'], 6: ['CHA'], 7: ['CLE'], 8: ['DET'], 9: ['KCA'], 
             10: ['MIN'], 11: ['HOU'], 12: ['LAA', 'ANA'], 13: ['OAK'], 14: ['SEA'], 15: ['TEX'], 16: ['ATL'], 
             17: ['MIA', 'FLO'], 18: ['NYN'], 19: ['PHI'], 20: ['WAS', 'MON'], 21: ['CHN'], 22: ['CIN'], 23: ['MIL'], 
             24: ['PIT'], 25: ['SLN'], 26: ['ARI'], 27: ['COL'], 28: ['LAN'], 29: ['SDN'], 30: ['SFN']}

In [14]:
pitching = pd.read_csv('data/Pitching.csv')
pitching

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,youngch03,2015,1,KCA,AL,11,6,34,18,0,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,0,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,2015,1,OAK,AL,0,0,3,2,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,2015,1,SEA,AL,0,0,13,1,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [15]:
pitching.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44139 entries, 0 to 44138
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  44139 non-null  object
 1   yearID    44139 non-null  int64
 2   stint     44139 non-null  int64
 3   teamID    44139 non-null  object
 4   lgID      44008 non-null  object
 5   W         44139 non-null  int64
 6   L         44139 non-null  int64
 7   G         44139 non-null  int64
 8   GS        44139 non-null  int64
 9   CG        44139 non-null  int64
 10  SHO       44139 non-null  int64
 11  SV        44139 non-null  int64
 12  IPouts    44138 non-null  float64
 13  H         44139 non-null  int64
 14  ER        44139 non-null  int64
 15  HR        44139 non-null  int64
 16  BB        44139 non-null  int64
 17  SO        44139 non-null  int64
 18  BAOpp     42614 non-null  float64
 19  ERA       44049 non-null  float64
 20  IBB       29564 non-null  float64
 21  WP        44006 non-null  float64
 22  HBP       43580 non-null  float64
 23  BK        44139 non-null  int64
 24  BFP       43900 non-null  float64
 25  GF        44006 non-null  float64
 26  R         44139 non-null  int64
 27  SH        11239 non-null  float64
 28  SF        11239 non-null  float64
 29  GIDP      745 non-null    float64
dtypes: float64(11), int64(16), object(3)
memory usage: 10.1+ MB

In [16]:
pitching.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [17]:
pitching_yr=pitching[pitching['yearID']>=2000]
pitching_yr

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
32900,abbotpa01,2000,1,SEA,AL,9,7,35,27,0,...,4.0,3.0,5.0,0,766.0,2.0,89,1.0,4.0,NaN
32901,aceveju01,2000,1,MIL,NL,3,7,62,0,0,...,9.0,3.0,1.0,2,347.0,18.0,38,1.0,1.0,NaN
32902,adamste01,2000,1,LAN,NL,6,9,66,0,0,...,0.0,5.0,0.0,0,369.0,18.0,42,3.0,0.0,NaN
32903,aguilri01,2000,1,CHN,NL,1,2,54,0,0,...,2.0,1.0,4.0,0,210.0,44.0,28,1.0,0.0,NaN
32904,aldresc01,2000,1,PHI,NL,1,3,23,0,0,...,0.0,1.0,1.0,0,95.0,5.0,14,1.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,youngch03,2015,1,KCA,AL,11,6,34,18,0,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,0,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,2015,1,OAK,AL,0,0,3,2,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,2015,1,SEA,AL,0,0,13,1,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [18]:
pitching_final=pd.DataFrame(pitching_yr.drop(columns=['W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB','IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP']))
pitching_final

        playerID  yearID  stint teamID lgID   SO  BAOpp    ERA
32900  abbotpa01    2000      1    SEA   AL  100  0.243   4.22
32901  aceveju01    2000      1    MIL   NL   51  0.246   3.81
32902  adamste01    2000      1    LAN   NL   56  0.245   3.52
32903  aguilri01    2000      1    CHN   NL   38  0.251   4.91
32904  aldresc01    2000      1    PHI   NL   21  0.284   5.75
...          ...     ...    ...    ...  ...  ...    ...    ...
44134  youngch03    2015      1    KCA   AL   83  0.202   3.06
44135  zieglbr01    2015      1    ARI   NL   36  0.197   1.85
44136  zimmejo02    2015      1    WAS   NL  164  0.264   3.66
44137   zitoba01    2015      1    OAK   AL    2  0.387  10.29
44138   zychto01    2015      1    SEA   AL   24  0.239   2.45

[11239 rows x 8 columns]

In [19]:
pitching_final = pitching_final.set_index('playerID')
pitching_final.head(7)

           yearID  stint teamID lgID   SO  BAOpp   ERA
playerID
abbotpa01    2000      1    SEA   AL  100  0.243  4.22
aceveju01    2000      1    MIL   NL   51  0.246  3.81
adamste01    2000      1    LAN   NL   56  0.245  3.52
aguilri01    2000      1    CHN   NL   38  0.251  4.91
aldresc01    2000      1    PHI   NL   21  0.284  5.75
alfonan01    2000      1    FLO   NL   47  0.291  4.24
almanar01    2000      1    FLO   NL   46  0.228  4.86

In [20]:
pitching_final.to_csv('data/pitching_final.csv')

In [21]:
pitching_og = pd.read_sql(sql = 'SELECT * FROM pitching_og;', con = engine)
pitching_og.head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "pitching_og" does not exist
LINE 1: SELECT * FROM pitching_og;
                      ^

[SQL: SELECT * FROM pitching_og;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
pitching_final = pd.read_sql(sql = 'SELECT * FROM pitching_final;', con = engine)
pitching_final.head()

In [ ]:
# ETL Baseball Player Cards

In [ ]:
# ETL Baseball Team Patroll

In [ ]:
session.close()
engine.dispose()