# Baseball ETL

### Imports

In [1]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from config import pg_pwd
from configAB import username, password
import psycopg2

from bs4 import BeautifulSoup as bs
import requests

import pandas as pd
import numpy as np

### Initializations

In [2]:
#db initializations
engine = create_engine(f'postgresql://{pg_pwd}/MoneyBall')

Base = automap_base()
Base.prepare(autoload_with=engine)
session = Session(engine)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/14/e3q8)

### ETL Baseball Cities

In [9]:
# initialize
City = Base.classes.City

# extract
url = 'https://www.worldatlas.com/articles/mlb-teams-and-their-cities.html'

response = requests.get(url)
soup = bs(response.text, 'html.parser')
result = soup.find('tbody')
rows = result.find_all('tr')

AttributeError: City

In [8]:
# transfer and load

for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]   
    cols = cols[2].split(', ')
    
    city = City(cityname=cols[0], statename=cols[1])  
    session.add(city)
    session.commit()

NameError: name 'rows' is not defined

In [5]:
# ETL Baseball Teams

In [6]:
# ETL Baseball Players

In [7]:
# ETL Baseball Player Salaries

In [8]:
# ETL Baseball Player Batting

In [16]:
# ETL Baseball Player Pitching
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/MoneyBall')
Base = automap_base()
Base.prepare(autoload_with=engine)
session = Session(engine)

In [17]:
pitching = pd.read_csv('data/Pitching.csv')
pitching

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,youngch03,2015,1,KCA,AL,11,6,34,18,0,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,0,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,2015,1,OAK,AL,0,0,3,2,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,2015,1,SEA,AL,0,0,13,1,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [18]:
pitching.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44139 entries, 0 to 44138
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  44139 non-null  object
 1   yearID    44139 non-null  int64
 2   stint     44139 non-null  int64
 3   teamID    44139 non-null  object
 4   lgID      44008 non-null  object
 5   W         44139 non-null  int64
 6   L         44139 non-null  int64
 7   G         44139 non-null  int64
 8   GS        44139 non-null  int64
 9   CG        44139 non-null  int64
 10  SHO       44139 non-null  int64
 11  SV        44139 non-null  int64
 12  IPouts    44138 non-null  float64
 13  H         44139 non-null  int64
 14  ER        44139 non-null  int64
 15  HR        44139 non-null  int64
 16  BB        44139 non-null  int64
 17  SO        44139 non-null  int64
 18  BAOpp     42614 non-null  float64
 19  ERA       44049 non-null  float64
 20  IBB       29564 non-null  float64
 21  WP        44006 non-null  float64
 22  HBP       43580 non-null  float64
 23  BK        44139 non-null  int64
 24  BFP       43900 non-null  float64
 25  GF        44006 non-null  float64
 26  R         44139 non-null  int64
 27  SH        11239 non-null  float64
 28  SF        11239 non-null  float64
 29  GIDP      745 non-null    float64
dtypes: float64(11), int64(16), object(3)
memory usage: 10.1+ MB

In [19]:
pitching.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [20]:
pitching_yr=pitching[pitching['yearID']>=2000]
pitching_yr

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
32900,abbotpa01,2000,1,SEA,AL,9,7,35,27,0,...,4.0,3.0,5.0,0,766.0,2.0,89,1.0,4.0,NaN
32901,aceveju01,2000,1,MIL,NL,3,7,62,0,0,...,9.0,3.0,1.0,2,347.0,18.0,38,1.0,1.0,NaN
32902,adamste01,2000,1,LAN,NL,6,9,66,0,0,...,0.0,5.0,0.0,0,369.0,18.0,42,3.0,0.0,NaN
32903,aguilri01,2000,1,CHN,NL,1,2,54,0,0,...,2.0,1.0,4.0,0,210.0,44.0,28,1.0,0.0,NaN
32904,aldresc01,2000,1,PHI,NL,1,3,23,0,0,...,0.0,1.0,1.0,0,95.0,5.0,14,1.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,youngch03,2015,1,KCA,AL,11,6,34,18,0,...,0.0,5.0,0.0,0,500.0,3.0,44,4.0,2.0,NaN
44135,zieglbr01,2015,1,ARI,NL,0,3,66,0,0,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,2015,1,WAS,NL,13,10,33,33,0,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,2015,1,OAK,AL,0,0,3,2,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,2015,1,SEA,AL,0,0,13,1,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [21]:
pitching_final=pd.DataFrame(pitching_yr.drop(columns=['W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB','IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP']))
pitching_final

        playerID  yearID  stint teamID lgID   SO  BAOpp    ERA
32900  abbotpa01    2000      1    SEA   AL  100  0.243   4.22
32901  aceveju01    2000      1    MIL   NL   51  0.246   3.81
32902  adamste01    2000      1    LAN   NL   56  0.245   3.52
32903  aguilri01    2000      1    CHN   NL   38  0.251   4.91
32904  aldresc01    2000      1    PHI   NL   21  0.284   5.75
...          ...     ...    ...    ...  ...  ...    ...    ...
44134  youngch03    2015      1    KCA   AL   83  0.202   3.06
44135  zieglbr01    2015      1    ARI   NL   36  0.197   1.85
44136  zimmejo02    2015      1    WAS   NL  164  0.264   3.66
44137   zitoba01    2015      1    OAK   AL    2  0.387  10.29
44138   zychto01    2015      1    SEA   AL   24  0.239   2.45

[11239 rows x 8 columns]

In [22]:
pitching_final = pitching_final.set_index('playerID')
pitching_final.head(7)

           yearID  stint teamID lgID   SO  BAOpp   ERA
playerID
abbotpa01    2000      1    SEA   AL  100  0.243  4.22
aceveju01    2000      1    MIL   NL   51  0.246  3.81
adamste01    2000      1    LAN   NL   56  0.245  3.52
aguilri01    2000      1    CHN   NL   38  0.251  4.91
aldresc01    2000      1    PHI   NL   21  0.284  5.75
alfonan01    2000      1    FLO   NL   47  0.291  4.24
almanar01    2000      1    FLO   NL   46  0.228  4.86

In [23]:
pitching_final.to_csv('data/pitching_final.csv')

In [24]:
pitching_og = pd.read_sql(sql = 'SELECT * FROM pitching_og;', con = engine)
pitching_og.head()

,playerid,yearid,stint,teamid,lgid,w,l,g,gs,cg,...,ibb,wp,hbp,bk,bfp,gf,r,sh,sf,gidp
0,bechtge01,1871,1,PH1,NA,1,2,3,3,2,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NA,12,15,30,30,30,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NA,0,0,1,0,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NA,4,16,24,24,22,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NA,0,1,1,1,1,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN

In [25]:
pitching_final = pd.read_sql(sql = 'SELECT * FROM pitching_final;', con = engine)
pitching_final.head()

    playerid  yearid  stint teamid lgid   so  baopp   era
0  abbotpa01    2000      1    SEA   AL  100  0.243  4.22
1  aceveju01    2000      1    MIL   NL   51  0.246  3.81
2  adamste01    2000      1    LAN   NL   56  0.245  3.52
3  aguilri01    2000      1    CHN   NL   38  0.251  4.91
4  aldresc01    2000      1    PHI   NL   21  0.284  5.75

In [10]:
# ETL Baseball Player Cards

In [11]:
# ETL Baseball Team Patroll

In [13]:
session.close()
engine.dispose()