In [16]:
import os
import csv
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [17]:
basebSal= pd.read_csv('Resources/baseball_reference.csv')
basebSal.head()

  team  year             name  war     sal  exp   playerid   lastsal
0  ARI  2005  Armando Almanza  0.2       0    7  almanar01  500000.0
1  ARI  2005      Greg Aquino -1.0  325000    2  aquingr01  300000.0
2  ARI  2005     Brian Bruney -1.6  322500    2  brunebr01  300000.0
3  ARI  2005     Randy Choate -0.4  550000    6  choatra01  325750.0
4  ARI  2005     Alex Cintron -0.2  360000    5  cintral01  335000.0

In [20]:
sanfran = basebSal.loc[(basebSal['team'] =='SFG')&(basebSal['year'] == 2014)]
airDia = basebSal.loc[(basebSal['team'] =='ARI')&(basebSal['year'] == 2014)]
sanfran_sal = sanfran["sal"].mean()
airDiasal = airDia["sal"].mean()
print(f"WORLD CHAMPS Average Salary:{sanfran_sal:,.2f}")
print(f"WORST TEAM Average Salary:{airDiasal:,.2f}")

WORLD CHAMPS Average Salary:4,556,290.49
WORST TEAM Average Salary:2,141,847.22

In [22]:
kcR= basebSal.loc[(basebSal['team'] =='KCR')&(basebSal['year'] == 2015)]
kcRsal=kcR["sal"].mean()
print(f"WORLD CHAMPS Average Salary:{kcRsal:,.2f}")
philP= basebSal.loc[(basebSal['team'] =='PHI')&(basebSal['year'] == 2015)]
philPsal=philP["sal"].mean()
print(f"WORST TEAM Average Salary:{philPsal:,.2f}")

WORLD CHAMPS Average Salary:3,030,316.45
WORST TEAM Average Salary:1,682,794.12

In [25]:
chiCubs = basebSal.loc[(basebSal['team'] =='CHC')&(basebSal['year'] == 2016)]
chiCubsal = chiCubs["sal"].mean()
print(f"WORLD CHAMPS Average Salary:{chiCubsal:,.2f}")
minTwins= basebSal.loc[(basebSal['team'] =='MIN')&(basebSal['year'] == 2016)]
minTwinsal=minTwins["sal"].mean()
print(f"WORST TEAM Average Salary:{minTwinsal:,.2f}")

WORLD CHAMPS Average Salary:4,514,790.59
WORST TEAM Average Salary:2,395,572.97

In [28]:
housAstro = basebSal.loc[(basebSal['team'] =='HOU')&(basebSal['year'] == 2017)]
houAstrosal = housAstro["sal"].mean()
print(f"WORLD CHAMPS Average Salary:{houAstrosal:,.2f}")
sfg= basebSal.loc[(basebSal['team'] =='SFG')&(basebSal['year'] == 2017)]
sfgSal=sfg["sal"].mean()
print(f"WORST TEAM Average Salary:{sfgSal:,.2f}")

WORLD CHAMPS Average Salary:3,985,035.00
WORST TEAM Average Salary:5,042,880.94

In [34]:
bostRed = basebSal.loc[(basebSal['team'] =='BOS')&(basebSal['year'] == 2018)]
bostRedsal= bostRed["sal"].mean()
print(f"WORLD CHAMPS Average Salary:{bostRedsal:,.2f}")
balOs= basebSal.loc[(basebSal['team'] =='BAL')&(basebSal['year'] == 2018)]
balosal=balOs["sal"].mean()
print(f"WORST TEAM Average Salary:{balosal:,.2f}")

WORLD CHAMPS Average Salary:5,196,341.46
WORST TEAM Average Salary:4,041,559.13

In [36]:
wasNats = basebSal.loc[(basebSal['team'] =='WSN')&(basebSal['year'] == 2019)]
wasNatsal= wasNats["sal"].mean()
print(f"WORLD CHAMPS Average Salary:{wasNatsal:,.2f}")
detTig= basebSal.loc[(basebSal['team'] =='DET')&(basebSal['year'] == 2019)]
detTigsal=detTig["sal"].mean()
print(f"WORST TEAM Average Salary:{detTigsal:,.2f}")

WORLD CHAMPS Average Salary:4,346,519.39
WORST TEAM Average Salary:2,172,057.14