In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import pandas as pd
import psycopg2 as ps
import os

In [3]:
# create engine to Postgres
engine = create_engine("postgresql://postgres:Techbobcats=0618@localhost/Batting")

conn = engine.connect()
print(conn)

<sqlalchemy.engine.base.Connection object at 0x00000270174A4880>

In [4]:
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
session = Session(bind=engine)

In [6]:
Base.classes.keys()

['batting_stats', 'final_batting']

In [7]:
stats = Base.classes.batting_stats

In [8]:
inspector = inspect(engine)
columns = inspector.get_columns('batting_stats')

for y in columns:
    print(y['name'], y['type'])

id INTEGER
playerid VARCHAR
yearid INTEGER
stint INTEGER
teamid VARCHAR
igid VARCHAR
g INTEGER
ab INTEGER
r INTEGER
h INTEGER
doub INTEGER
triple INTEGER
hr INTEGER
rbi INTEGER
sb INTEGER
cs INTEGER
bb INTEGER
so INTEGER
ibb INTEGER
hbp INTEGER
sh INTEGER
sf INTEGER
gidp INTEGER

In [9]:
Years = session.query(stats.playerid, stats.yearid, stats.teamid, stats.h,
                     stats.doub, stats.triple, stats.hr, stats.rbi)\
        .filter(stats.yearid >= 2000).all()

In [10]:
df = pd.DataFrame(Years)
y = df.rename(columns={
    0: 'playerid',
    1: 'year',
    2: 'team',
    3: 'hits',
    4: 'double',
    5: 'triple',
    6: 'home runs',
    7: 'RBI',
})
y

        playerid  year team  hits  double  triple  home runs  RBI
0      abbotje01  2000  CHA    59      15       1          3   29
1      abbotku01  2000  NYN    34       7       1          6   12
2      abbotpa01  2000  SEA     2       1       0          0    0
3      abreubo01  2000  PHI   182      42      10         25   79
4      aceveju01  2000  MIL     0       0       0          0    0
...          ...   ...  ...   ...     ...     ...        ...  ...
22079   zitoba01  2015  OAK     0       0       0          0    0
22080  zobribe01  2015  OAK    63      20       2          6   33
22081  zobribe01  2015  KCA    66      16       1          7   23
22082  zuninmi01  2015  SEA    61      11       0         11   28
22083   zychto01  2015  SEA     0       0       0          0    0

[22084 rows x 8 columns]

In [11]:
hits = y.groupby(['year', 'playerid', 'team'])['hits'].sum()
doubles = y.groupby(['year', 'playerid', 'team'])['double'].sum()
triples = y.groupby(['year', 'playerid', 'team'])['triple'].sum()
hr = y.groupby(['year', 'playerid', 'team'])['home runs'].sum()
rbi = y.groupby(['year', 'playerid', 'team'])['RBI'].sum()






data = pd.DataFrame({
    'Hits': hits,
    'Doubles': doubles,
    'Triples': triples,
    'Home Runs': hr,
    'RBI': rbi
})
data

                     Hits  Doubles  Triples  Home Runs  RBI
year playerid  team
2000 abbotje01 CHA     59       15        1          3   29
     abbotku01 NYN     34        7        1          6   12
     abbotpa01 SEA      2        1        0          0    0
     abreubo01 PHI    182       42       10         25   79
     aceveju01 MIL      0        0        0          0    0
...                   ...      ...      ...        ...  ...
2015 zitoba01  OAK      0        0        0          0    0
     zobribe01 KCA     66       16        1          7   23
               OAK     63       20        2          6   33
     zuninmi01 SEA     61       11        0         11   28
     zychto01  SEA      0        0        0          0    0

[22072 rows x 5 columns]

In [12]:
data.to_csv('Batting_Stats.csv', index= True, header = True)