In [14]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import pandas as pd
import psycopg2 as ps
import os

In [15]:
# create engine to Postgres
engine = create_engine("postgresql://postgres:Techbobcats=0618@localhost/Batting")

conn = engine.connect()
print(conn)

<sqlalchemy.engine.base.Connection object at 0x000001C49BB9A730>

In [16]:
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [17]:
session = Session(bind=engine)

In [18]:
Base.classes.keys()

['batting_stats',
 'Player',
 'final_batting',
 'players',
 'City',
 'Team',
 'Payroll',
 'Salary']

In [19]:
stats = Base.classes.batting_stats

In [20]:
inspector = inspect(engine)
columns = inspector.get_columns('batting_stats')

for y in columns:
    print(y['name'], y['type'])

id INTEGER
playerid VARCHAR
yearid INTEGER
stint INTEGER
teamid VARCHAR
igid VARCHAR
g INTEGER
ab INTEGER
r INTEGER
h INTEGER
doub INTEGER
triple INTEGER
hr INTEGER
rbi INTEGER
sb INTEGER
cs INTEGER
bb INTEGER
so INTEGER
ibb INTEGER
hbp INTEGER
sh INTEGER
sf INTEGER
gidp INTEGER

In [21]:
Years = session.query(stats.playerid, stats.yearid, stats.teamid, stats.h,
                     stats.doub, stats.triple, stats.hr, stats.rbi)\
        .filter(stats.yearid >= 2000).all()

In [22]:
df = pd.DataFrame(Years)
y = df.rename(columns={
    0: 'playerid',
    1: 'year',
    2: 'team',
    3: 'hits',
    4: 'double',
    5: 'triple',
    6: 'home runs',
    7: 'RBI',
})
y

        playerid  year team  hits  double  triple  home runs  RBI
0      abbotje01  2000  CHA    59      15       1          3   29
1      abbotku01  2000  NYN    34       7       1          6   12
2      abbotpa01  2000  SEA     2       1       0          0    0
3      abreubo01  2000  PHI   182      42      10         25   79
4      aceveju01  2000  MIL     0       0       0          0    0
...          ...   ...  ...   ...     ...     ...        ...  ...
22079   zitoba01  2015  OAK     0       0       0          0    0
22080  zobribe01  2015  OAK    63      20       2          6   33
22081  zobribe01  2015  KCA    66      16       1          7   23
22082  zuninmi01  2015  SEA    61      11       0         11   28
22083   zychto01  2015  SEA     0       0       0          0    0

[22084 rows x 8 columns]

In [23]:
hits = y.groupby(['playerid', 'year', 'team'])['hits'].sum()
doubles = y.groupby(['playerid', 'year', 'team'])['double'].sum()
triples = y.groupby(['playerid', 'year', 'team'])['triple'].sum()
hr = y.groupby(['playerid', 'year', 'team'])['home runs'].sum()
rbi = y.groupby(['playerid', 'year', 'team'])['RBI'].sum()






data = pd.DataFrame({
    'Hits': hits,
    'Doubles': doubles,
    'Triples': triples,
    'Home_Runs': hr,
    'RBI': rbi
})
data

                     Hits  Doubles  Triples  Home_Runs  RBI
playerid  year team
aardsda01 2004 SFN      0        0        0          0    0
          2006 CHN      0        0        0          0    0
          2007 CHA      0        0        0          0    0
          2008 BOS      0        0        0          0    0
          2009 SEA      0        0        0          0    0
...                   ...      ...      ...        ...  ...
zumayjo01 2010 DET      0        0        0          0    0
zuninmi01 2013 SEA     37        5        0          5   14
          2014 SEA     87       20        2         22   60
          2015 SEA     61       11        0         11   28
zychto01  2015 SEA      0        0        0          0    0

[22072 rows x 5 columns]

In [24]:
data.to_csv('Batting_Stats.csv', index= True, header = True)

In [27]:
# load from csv if stored
if (os.path.isfile('BattingHits/Batting_Stats.csv')):
    Batting_Final = pd.read_csv('BattingHits/Batting_Stats.csv')
else:
    # transfer, and identify missing salaries
    batting = Base.classes.Batting 

    for index, row in Batting_Final.iterrows():
        if teams_dict.get(row.team, -1) == -1:
            print(row.team)
        else:
            Batting.loc[index, ['teamid']] = teams_dict.get(row.team)

            #load to Batting table
            Batting = batting(
                playerid = row.playerid, 
                year = row.year,
                teams = teams_dict.get(row.team),
                Hits= row.Hits,
                Doubles = row.Doubles,
                Triples = row.Triples,        
                Home_Runs = row.Home_Runs,
                RBI = row.RBI) 

            session.add(batting)
            session.commit()  
            
    #reload from db and save to csv
    Batting = pd.read_sql_query('select * from "Batting"', con=engine)
    Batting.to_csv('data/Batting_Stats.csv', index=False)

AttributeError: Batting